/* General styles */
.subscription-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.navbar {
  width: 100%;
  background-color: #51e2f5;
  color: #0b0101;
  padding: 10px;
}

.navbar h1 {
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: left;
}

.navbar li {
  margin: 0 10px;
}

.header {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  margin-bottom: 20px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.blog-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.blog-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.blog-content {
  text-align: left;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #333333;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.checkbox-container label{
  margin: 5px 5px 5px 5px;
}
/* Button styles */
.subscribe-btn,
.free-access-btn,
.unsubscribe-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 10px;
}

.subscribe-btn {
  background-color: #4caf50;
  margin-bottom: 10px;
}

.unsubscribe-btn {
  background-color: #f83f06;
}

.free-access-btn {
  background-color: #2196f3;
}

/* Access message styles */
p.access-message {
  font-size: 16px;
  margin-top: 10px;
}

/* Footer styles */
.footer {
  width: 100%;
  background-color: #51e2f5;
  color: #f5ededee;
  padding: 10px;
}

/* Form container styles */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.form-container input{
  margin: 5px;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.form-space {
  height: 10px;
}

/* Checkbox styles */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox-container label {
  margin-left: 5px;
}
